<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- navbar selector -->
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="container">
    <div class="row profileinfo">
      <!-- Profile Card -->
      <div class="col-sm-3">
        <div class="card card-inverse card-info">
          <img class="card-img-top" [src]="imgPath">
          <!-- Upload profile Image Button -->
          <div class="card-footer">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info btn-sm tokenButtonMargin" data-toggle="modal" data-target="#profileModal"><b class='generateTokenButton'>Change Profile Photo</b></button>
            <!--  -->
            <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header modalColor">
                    <h6 class="modal-title" id="profileModalLabel">Change Profile Photo</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img class="card-img-top" [src]="imgPath">
                  </div>
                  <div class="modal-footer">
                    <input type="file" id="file" class=" form-control" (change)="fileChange($event)" accept=".jpg,.jpeg,.png">
                    <div class="col-sm-3">
                      <button type="button" class="btn btn-secondary upload" data-dismiss="modal" (click)="uploadFile()">Upload</button>
                    </div>
                    <!--  -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <!-- Nav pills tab -->
        <mat-tab-group>
          <!-- GitHub information -->
          <mat-tab label="Personal Info">
          <div class="container">
            <!-- name -->
            <div class="card name">
              <div class="card-header">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{config.WHO}}
              </div>
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <p>{{config.USER_NAME}} : {{data.name}}</p>
                  <p>{{config.NAME}} : {{data.firstName}} {{data.lastName}}</p>
                  <p>{{config.GITHUB_ID}} : {{data.userid}}</p>
                </blockquote>
              </div>
            </div>
            <!-- Repo UserID -->
            <div class="row">
              <div class="col-sm-6">
                <div class="card name">
                  <div class="card-header">
                    <i class="fa fa-briefcase" aria-hidden="true"></i> {{config.REPO}}
                  </div>
                  <div class="card-block">
                    <blockquote class="card-blockquote">
                      <p>{{config.NUMBER_PF_REPOSITORIES}}: {{data.public_repos}}</p>
                    </blockquote>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card name">
                  <div class="card-header">
                    <i class="fa fa-male" aria-hidden="true"></i> <i class="fa fa-female" aria-hidden="true"></i> {{config.GENDER}}
                  </div>
                  <div class="card-block">
                    <blockquote class="card-blockquote">
                      <p>{{data.gender}}</p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <!-- Bio -->
            <div class="card name">
              <div class="card-header">
                <i class="fa fa-info-circle" aria-hidden="true"></i> {{config.BIO}}
              </div>
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <p>{{data.bio}}</p>
                </blockquote>
              </div>
            </div>
            <!-- Email -->
            <div class="card name">
              <div class="card-header">
                <i class="fa fa-envelope" aria-hidden="true"></i> {{config.EMAIL}}
              </div>
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <p>{{data.email}}</p>
                </blockquote>
              </div>
            </div>
            <!-- Company -->
            <div class="card name">
              <div class="card-header">
                <i class="fa fa-building" aria-hidden="true"></i> {{config.COMPANY}}
              </div>
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <p>{{data.company}}</p>
                </blockquote>
              </div>
            </div>
            <!-- Website -->
            <div class="card name">
              <div class="card-header">
                <i class="fa fa-internet-explorer" aria-hidden="true"></i> {{config.WEBSITE}}
              </div>
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <p>{{data.website}}</p>
                </blockquote>
              </div>
            </div>
            </div>
          </mat-tab>
          <!-- Personal Information -->
          <mat-tab label="Edit Info">
            <div class="card-block">
              <form class="form" role="form" autocomplete="off" [formGroup]="personalInfo">
                <div class="form-group ">
                  <label class="col-lg-3 col-form-label form-control-label">{{config.FIRST_NAME}}</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="text" formControlName="firstName">
                  </div>
                </div>
                <div class="form-group ">
                  <label class="col-lg-3 col-form-label form-control-label">{{config.LAST_NAME}}</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="text" formControlName="lastName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 col-form-label form-control-label">{{config.EMAIL}}</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="email" formControlName="email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 col-form-label form-control-label">{{config.COMPANY}}</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="text" formControlName="company">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 col-form-label form-control-label">{{config.WEBSITE}}</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="url" formControlName="website">
                  </div>
                </div>
                <div class="form-group">
                  <label class=" col-lg-3 col-form-label form-control-label" for="exampleTextarea">{{config.BIO}}</label>
                  <div class="col-lg-9">
                    <textarea class="form-control" id="exampleTextarea" rows="3" formControlName="bio"></textarea>
                  </div>
                </div>
                <div class="form-group ">
                  <label class="col-lg-3 col-form-label form-control-label">{{config.GENDER}}</label>
                  <div class="col-lg-9 gender">
                    <div class="row">
                      <input type="radio" value='Male' formControlName="gender" [(ngModel)]='gender'>Male
                      <input type="radio" value='Female' formControlName="gender" [(ngModel)]='gender'>Female
                      <input type="radio" value='Other' formControlName="gender" [(ngModel)]='gender'>Other
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 col-form-label form-control-label"></label>
                  <div class="col-lg-9">
                    <button type="button" class="btn btn-outline-info btn-sm tokenButtonMargin" (click)="updatePersonalInfo(personalInfo)"><b class='generateTokenButton'>{{config.SAVE}}</b></button>
                    <button type="button" class="btn btn-outline-info btn-sm tokenButtonMargin"><b class='generateTokenButton'>{{config.CANCEL}}</b></button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /form user info -->
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- footer selector -->
      <app-footer></app-footer>
    </div>
  </div>
</div>
