
<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">

        <div class="text-center">
        <!-- <img [src]="imgPath" alt="Mountain View" width="500" height="377"> -->
          <img [src]="imgPath" id="profile-img-tag" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          <input class="form-control" type="file"  name="file" id="profile-img" (click)="upload()">
        </div>
      
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form" [formGroup]="userInfo">
          <div class="form-group">
            <label class="col-lg-3 control-label">User ID:</label>
            <div class="col-lg-8">
              <input class="form-control"  type="text" formControlName="userid" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Login Name:</label>
            <div class="col-lg-8">
              <input class="form-control"  type="text" formControlName="name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Repos_url:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" readonly formControlName="repos_url">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Public_repos:</label>
            <div class="col-md-8">
              <input class="form-control"  type="text" readonly formControlName="public_repos">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input class="btn btn-primary" value="Save Changes" type="button">
              <span></span>
              <input class="btn btn-danger" value="Cancel" type="reset">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>


