<div class="container">
  <div class="col-md-12">
    <div class="form-area">
      <form role="form">
        <br style="clear:both">
        <h3>Add Snippet </h3>
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">{{language}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="mode('html')">Html</a></li>
          <li><a class="dropdown-item" (click)="mode('css')">Css</a></li>
          <li><a class="dropdown-item" (click)="mode('javascript')">Javascript</a></li>
        </ul>
        <div class="form-group">
          <input type="text" class="form-control" id="title" name="title" placeholder="Title" required [(ngModel)]="title">
        </div>
        <ckeditor id="editor1" class="editor1" name="editor1" [(ngModel)]="editor1"></ckeditor>
        <button type="button " id="submit " name="submit " class="btn btn-primary pull-right " (click)="submit() " [routerLink]="'/main'">Add Snippet</button>
      </form>
    </div>
  </div>
</div>
