/* css for snippet component */
h3 {
  margin-bottom: 25px;
  text-align: center;
}
.red {
  color: red;
}
.form-area {
  background-color: #FAFAFA;
  padding: 10px 40px 5px;
  margin: 45px 0px 30px;
  border: 1px solid GREY;
}
.card {
  height: 80%;
  background-color: #a1d6e2;
}
select {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}
.option {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}
.drop{
    height: 2rem;
}