<section id="code_editors">
  <a href="javascript:void(0);" (click)="downloadJsFile()">Javascript File
              <i class="fa fa-download" aria-hidden="true" data-toggle="popover" title="Download JS File"></i>  </a>
  <div id="myJsDiv"></div>
  <button class="btn-primary" (click)="executecode()">Execute</button>
  <div ace-editor [(text)]="jsValue" [mode]="'javascript'" [theme]="'twilight'" [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="2000" class="code_box" id="javascript">
  </div>
</section>
<div class="row">
  <div class="col-md-12">Output:
    <div class="output">{{dataObj}}</div>
  </div>
</div>
