<!-- Chat box title tray -->
<div class="chatbox chatbox--tray chatbox--empty">
  <div class="chatbox__title">
    <h5><a>{{selectedUserName}}</a></h5>
    <button class="btn btn-outline-success btn-lg callimg mr-6" data-toggle="popover" (click)="audiocall(template1)" title="Audio Call">
      <i class="fa fa-phone" aria-hidden="true"></i>
    </button>
    <button class="btn btn-outline-primary btn-lg callimg mr-6" data-toggle="popover" (click)="videocall(template2)" title="Video Call">
      <i class="fa fa-video-camera" aria-hidden="true"></i>
    </button>
    <button class="chatbox__title__tray">
      <span></span>
    </button>
    <button class="chatbox__title__close">
      <span>
              <svg viewBox="0 0 12 12" width="12px" height="12px">
                  <line stroke="#FFFFFF " x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                  <line stroke="#FFFFFF " x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
              </svg>
          </span>
    </button>
  </div>

  <!-- Messages to be displayed in chatbox -->
  <ul class="message-thread">
    <li *ngFor="let message of messages" [class.align-right]="alignMessage(message.toUserId)">
      {{ message.message}}
    </li>
  </ul>
  <div class="message-typer">
    <textarea class="message form-control" placeholder="Type and hit Enter" [(ngModel)]="message" (keyup)="sendMessage($event)"></textarea>
  </div>
</div>

<!-- Togglable button -->
<span class="done">
  <button mat-fab class="button-collapse sidebar" (click)="removesb()">
    <mat-icon>chat
    </mat-icon>
  </button>
</span>

<!-- Side-bar displaying list of online users -->
<div class="nav-side-menu side">
  <div class="brand">Online Users</div>
  <div class="menu-list">
    <ul class="n">
      <li *ngFor="let user of chatListUsers">
        {{ user.userName}}
        <button class="btn btn-outline-primary btn-lg callimg mr-6 close" data-toggle="popover" title="Chat" (click)="selectedUser(user)" [class.selected-user]="isUserSelected(user._id)">Chat
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
</div>

<!-- Chatbox for audio calling -->
<template #template1>
  <div class="chatbox chatbox--tray chatbox--empty">
    <div class="chatbox__title">
      <h5 id="myhead"><a>Audio Call</a></h5>
      <div>
        <button class="chatbox__title__tray">
          <span></span>
        </button>
        <button class="chatbox__title__close">
          <span>
               <svg viewBox="0 0 12 12" width="12px" height="12px">
                   <line stroke="#FFFFFF " x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                   <line stroke="#FFFFFF " x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
               </svg>
           </span>
        </button>
      </div>
    </div>
    <div>
      <input class="form-control bg-white" type="text" value={{mypeerid}} readonly ngModel>
      <input type="text" class="form-control bg-white" [(ngModel)]="anotherid" placeholder="Enter Your Connection">
    </div>
    <div class="ridge">
      <img src="https://www.adjust.com/new-assets/images/site-images/interface/user.svg" class="img-responsive myimg">
      <audio class="videoWidth" #myaudio autoplay></audio>
    </div>
    <div class="btn-group align-self-center mt-2 mt-2">
      <button class="btn btn-outline-success btn-lg" (click)="audioconnect()" data-toggle="popover" title="Video Call" vi-controls-play>
        <i class="fa fa-phone" aria-hidden="true">
               
           </i>
      </button>
      <button class="btn btn-outline-success btn-lg ml-2 ml-2" data-toggle="popover" title="Mute" vi-controls-pause>
        <i class="fa fa-volume-off" aria-hidden="true"></i>
      </button>
      <button class="btn btn-outline-danger btn-lg ml-2 ml-2" data-toggle="popover" (click)="stop()" title="End Call">
        <i class="fa fa-phone-square" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</template>

<!-- Chatbox for video calling -->
<template #template2>
  <div class="chatbox chatbox--tray chatbox--empty">
    <div class="chatbox__title">
      <h5 id="myhead"><a>Video Call</a></h5>
      <div>
        <button class="chatbox__title__tray">
          <span></span>
        </button>
        <button class="chatbox__title__close">
          <span>
               <svg viewBox="0 0 12 12" width="12px" height="12px">
                   <line stroke="#FFFFFF " x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                   <line stroke="#FFFFFF " x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
               </svg>
           </span>
        </button>
      </div>
    </div>
    <div>
      <input class="form-control bg-white" type="text" value={{mypeerid}} readonly ngModel>
      <input type="text" class="form-control bg-white" [(ngModel)]="anotherid" placeholder="Enter Your Connection">
    </div>
    <div class="ridge">
      <video class="videoWidth" #myvideo autoplay></video>
    </div>
    <div class="btn-group align-self-center mt-2 mt-2">
      <button class="btn btn-outline-success btn-lg" (click)="videoconnect()" data-toggle="popover" title="Video Call" vi-controls-play>
        <i class="fa fa-phone" aria-hidden="true">    
        </i>
      </button>
      <button class="btn btn-outline-success btn-lg ml-2 ml-2" data-toggle="popover" title="Mute" vi-controls-pause>
        <i class="fa fa-volume-off" (click)="mute()" aria-hidden="true"></i>
      </button>
      <button class="btn btn-outline-danger btn-lg ml-2 ml-2" data-toggle="popover" (click)="stop()" title="End Call">
        <i class="fa fa-phone-square" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</template>
