<div class="col-md-4">
  <div class="row">
     <div class="col-md-12">
      <button id="togetherjs-share-button start-togetherjs" type="button" class="togetherjs-button btn  btn-outline-info" onclick="TogetherJS(this); return false" data-end-togetherjs-html="End TogetherJS" title="Add a friend" (click)="openModal(template)"> screen sharing</button>
      <div id="togetherjs-dock-participants"></div>
    </div> 
     <!-- <button id="start-togetherjs" type="button"
      onclick="TogetherJS(this); return false"
      data-end-togetherjs-html="End TogetherJS">
      Start TogetherJS
     </button> -->
  </div>
</div>

<template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  Copy this URL and send to your friend
    <div *ngIf="link!==''">
  <p><a target="_blank" [attr.href]="link" (click)="redirect()">{{link}}</a></p>
</div>

  </div>
</template>

<div class="content container-fluid bootstrap snippets">
  <div class="row row-broken">
    <div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
      <div class="chat-users">
        <ul *ngFor="let user of users">
          <li>
            <div class="user">
              <div class="avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                <div class="status online"></div>
              </div>
              <a class="userName"  (click)="username(user.name)"> {{ user.name }}</a>
               </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <div *ngIf="chat!=null">
<app-chat-window></app-chat-window>
</div>  

<!-- <div *ngIf="link!==''">
  <p><a target="_blank" [attr.href]="link" (click)="redirect()">{{link}}</a></p>
</div> -->
<textarea id="textbox">Type something here</textarea>
<button id="create">Create file</button> <a download="info.txt" id="downloadlink" style="display: none">Download</a>

