<div class="col-md-4">
  <div class="row">
    <div class="col-md-12">
      <button id="togetherjs-share-button" class="togetherjs-button btn btn-outline-info" title="Add a friend" (click)="screenShare(this)">screen sharing</button>
      <div id="togetherjs-dock-participants"></div>
    </div>
  </div>
</div>
<div class="content container-fluid bootstrap snippets">
  <div class="row row-broken">
    <div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
      <div class="chat-users">
        <ul *ngFor="let user of users">
          <li>
            <div class="user">
              <div class="avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                <div class="status online"></div>
              </div>
              <a class="userName"  (click)="username(user.name)"> {{ user.name }}</a>
               </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



  <div *ngIf="chat!=null">
<app-chat-window></app-chat-window>
</div>  


<textarea id="textbox">Type something here</textarea>
<button id="create">Create file</button> <a download="info.txt" id="downloadlink" style="display: none">Download</a>

