<!-- repo side bar starts -->
<!-- first column -->
<div class="row mt-3 background">
  <div class="col-md-12">
    <!-- card to make block for repo sidebar -->
    <div class="card">
      <h5 class="card-header"><b>{{config.repoSidebar.repos}}</b><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#repoModal" ><i class="fa fa-plus plusSize" aria-hidden="true"></i></button></h5>
      <!--  -->
      <div class="modal fade" id="repoModal" tabindex="-1" role="dialog" aria-labelledby="repoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header modalColor">
              <h6 class="modal-title" id="repoModalLabel">Create New Repository</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="form-control-label">Enter Repository Name</label>
                  <input type="text" class="form-control" id="recipient-name" #name (keyup)="onKey($event)">
                </div>
                <div class="form-group">
                  <label for="message-text" class="form-control-label">Description for README.md</label>
                  <textarea class="form-control" id="message-text" #desc (keyup)="onKey($event)"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createRepo(name.value,desc.value)">Create</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="list-group">
          <select name="carlist" form="carform" [(ngModel)]="selectedValue" (change)="reposearch()">
            <option value=""> Select Your Repository</option>
            <option *ngFor="let repo of githubUser">{{repo.name}}</option>
          </select>
          <!-- making drop down containing the list of repositeries -->
          <div *ngIf="isTree">
            <a *ngFor="let repo of data" type="button" class="list-group-item list-group-item-action" (click)="showFile(selectedValue, repo.name)">
              <h6 class="list-group-item-heading">{{repo.name}}</h6>
            </a>
          </div>
          <div *ngIf="!isTree"> {{emptyRepo}}</div>
          <!-- end of drop down -->
        </div>
      </div>
    </div>
  </div>
  <!-- card end -->
</div>
<!-- repo side bar ends -->
