<!-- repo side bar starts -->
<!-- first column -->
<div class="row mt-3 background">
  <div class="col-md-12">
    <select class="btn btn-outline-warning listOption" name="carlist" form="carform" [(ngModel)]="selectedValue" (change)="reposearch()">
      <option selected>Select your repository</option>
      <option *ngFor="let repo of githubUser">{{repo.name}}</option>
    </select>
    <!-- </div> -->
    <!-- making drop down containing the list of repositeries -->
    <div *ngIf="isTree" class="scrollable">
      <a *ngFor="let repo of data" type="button" class="list-group-item list-group-item-action" (click)="showFile(selectedValue, repo.name)">
        <h6 class="list-group-item-heading gitRepo" data-spy="scroll">{{repo.name}}</h6>
      </a>
    </div>
    <div *ngIf="!isTree"> {{emptyRepo}}</div>
    <!-- end of drop down -->
  </div>
  <!-- repo side bar ends -->
</div>