<!-- repo side bar starts -->
<!-- first column -->
<div class="row mt-3 background">
  <div class="col-md-12">
    <!-- card to make block for repo sidebar -->
    <!--   <i class="fa fa-plus plusSize" aria-hidden="true" data-toggle="popover" title="Add New Repository" (click)="openRepoModal(templates)"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <i class="fa fa-key" aria-hidden="true" data-toggle="popover" title="Generate Token" (click)="openTokenModal(template)"></i> -->
    <select class="btn btn-outline-warning listOption" name="carlist" form="carform" [(ngModel)]="selectedValue" (change)="reposearch()">
      <option selected>Select your repository</option>
      <option *ngFor="let repo of githubUser">{{repo.name}}</option>
    </select>
    <!-- </div> -->
    <!-- making drop down containing the list of repositeries -->
    <div *ngIf="isTree">
      <a *ngFor="let repo of data" type="button" class="list-group-item list-group-item-action" (click)="showFile(selectedValue, repo.name)">
        <h6 class="list-group-item-heading gitRepo" data-spy="scroll">{{repo.name}}</h6>
      </a>
    </div>
    <div *ngIf="!isTree"> {{emptyRepo}}</div>
    <!-- end of drop down -->
  </div>
  <!-- repo side bar ends -->
  <template #templates>
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h6>Enter Repository Name</h6>
    <input type="text" name="" #box (keyup)="onKey($event)">
    <h6>Description</h6>
    <input type="text" name="" #boxes (keyup)="onKey($event)">
    <input type="button" class="btn btn-sm btn-success submit" name="" value="create" (click)="createRepo(box.value,boxes.value)">
  </template>
  <template #template>
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h6>{{config.repoSidebar.GITHUBPASSWORD}}</h6>
    <input type="password" name="" #token (keyup)="onKey($event)">
    <h6>{{config.repoSidebar.ACCESSTOKEN}}</h6>
    <input type="text" name="" #tokenName (keyup)="onKey($event)">
    <input type="button" class="btn btn-sm btn-success submit" name="" value="create" (click)="createAccessToken(token.value,tokenName.value)">
  </template>