
<div class="row">
    <div class="col-md-12">
      <!-- navbar selector -->
      <app-navbar></app-navbar>
    </div>
  </div><h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<h1>Forom Component</h1>
<div class="row">
    <div class="col-md-12">
      <!-- footer selector -->
      <app-footer></app-footer>
    </div>
  </div>