<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Logo</a>
          <ul class="nav justify-content-end">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="'/profile'">Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Forums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)=logout()>Logout</a>
            </li>
          </ul>
        </div>
      </nav>