/*css on navbar*/

#mainNav {
  background-color: #303F9F;
  height: 55px;
}

.font a {
  color: white;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
}

.font a:hover {
  color: black
}

.navItem {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: medium;
}

.togglerButton {
  color: white;
}

.editor {
  font-size: medium;
}

ul li {
  margin-left: 18px;
}
