/*css on navbar*/

#mainNav {
  background-color: #1976D2;
  height: 55px;
}

.font a {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.font a:hover {
  color: black
}

.navItem {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
}

.togglerButton {
  color: white;
}

.oeditor {
  font-size: medium;
}

ul li {
  margin-left: 18px;
}
