/*css on navbar*/

#mainNav {
  background-color: #1995ad; 
  height: 40px;
}

.font a {
  color: white
}

.font a:hover {
  color: black
}

.navItem {
  text-align: right;
  font-size: 10px;
}

.togglerButton {
  color: white;
}

.editor {
	font-size: 12px;


}