<!DOCTYPE html>
<html>
<head>
  <title>Knowledge base forum</title>
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet"> <!--Plugin Css-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
<form #postSubmit='ngForm'>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-white" href="#">Knowledge Base</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Questions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled text-white" href="#"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-sm-2">
      
    </div>
    <div class="col-sm-8">
       <div class="form-group col-sm mt-5 border py-2">
      <label for="inputState" class="">Question title</label>
     <input type="text" class="form-control " placeholder="New choice" name="questionTitle" [(ngModel)]="questionTitle">
      </div>
       <div class="form-group col-sm border mt-2 py-3">
      <label for="inputState" class="">problem description</label>
       <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="write description" name="problemDescription" [(ngModel)]="problemDescription"></textarea>
      </div>
        <div class="form-group col-sm mt-2 border py-2">
      <label for="inputState" class="">Tags</label>
     <input type="text" class="form-control " placeholder="at least one tag such as html,Angular,java,c#" name="tags" [(ngModel)]="tags">
      </div>
      <div class="border py-2">
      <div class="col-sm-6">
      <label for="inputState" class="">Date</label>
      </div>
      <div class="col-sm-6">
      <input type="text" class="form-control bg-white" placeholder={{date}} placement="top" name="dateCurr" [(ngModel)]="dateCurr" readonly="true">
      </div>
      </div>
        <ckeditor class="mt-2" name="codeSnippet" [(ngModel)]="codeSnippet"></ckeditor>
     <div class="row mt-4 mb-4">       
     <div class="col-sm-6">
     <button class="btn btn-primary btn-md text-white form-control myBtn" (click)="insertPost(postSubmit)">Post question</button>
     </div>
     <div class="col-sm-6">
     <button class="btn btn-primary btn-md text-white form-control myBtn" (click)="insertPost(postSubmit)">Cancel</button> 
     </div>     
     </div>
    </div>
    <div class="col-sm-2">
      
    </div>
  </div>
</div>
</form>
</body>
</html>