<!-- <div class="container"> -->
<div class="row ">
  <div class="col-md-7 padding">
    <div class="navbar toolbarColor">
      <!-- pills to select language -->
      <ul class="nav nav-pills marg " id="pills-tab" role="tablist">
        <li class="nav-item ">
          <a class="nav-link active  " id="pills-home-tab" data-toggle="pill" href="#pills-html" role="tab" aria-controls="pills-home" aria-selected="true" title={{config.webEditor.HTML}}><i class="fa fa-html5" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-css" role="tab" aria-controls="pills-profile" aria-selected="false" title={{config.webEditor.CSS}}><i class=" fa fa-css3" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-javascript" role="tab" aria-controls="pills-contact" aria-selected="false" title={{config.webEditor.JS}}><i class="fa fa-file-code-o" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    <div id="togetherjs-dock-participants"></div>
    <template #template>
      <div *ngIf="showModalBox==true">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Modal</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Copy this URL and send to your friend
          <div *ngIf="link!==''">
            <p><a target="_blank" [attr.href]="link" (click)="redirect()">{{link}}</a></p>
          </div>
        </div>
      </div>
    </template>
    <div class="tab-content tabHeight" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-html" role="tabpanel" aria-labelledby="pills-home-tab">
        <div id="wrap">
          <section id="code_editors">
            <nav class="navbar navbar-light bg-dark">
              <form class="form-inline">
                <!-- Buttons to download and add HTML code -->
                <div class="dropdown">
                  <button class="btn btn-outline-warning" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title={{config.webEditor.ADD}}><i class="fa fa-code" aria-hidden="true"></i></button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" *ngFor="let data of html" (click)="showHtml(data.code)">{{data.title}}</a>
                  </div>
                </div>
                &nbsp;
                <button href="javascript:void(0);" class="btn btn-outline-warning align-middle btn-warning" type="button" (click)="downloadHtmlFile()" data-toggle="tooltip" data-placement="Top" title="Download"><i class="fa fa-download" aria-hidden="true"></i></button>
                &nbsp;
                <button type="button" class="btn btn-outline-warning" href="javascript:void(0);" (click)="downloadZip()" data-toggle="tooltip" data-placement="top" title="Zip Project"><i class="fa fa-file-archive-o" aria-hidden="true"></i></button>
                &nbsp;
                <button id="togetherjs-share-button start-togetherjs" type="button" class="togetherjs-button btn btn-outline-warning text-right" onclick="TogetherJS(this); return false" data-end-togetherjs-html="End TogetherJS" title="{{config.webEditor.SCREENSHARE}}" (click)="openModal(template)"> <i class="fa fa-desktop" aria-hidden="true"></i></button>
                <div id="myDiv"></div>
              </form>
            </nav>
            <div id="myHtmlDiv"></div>
            <div ace-editor [(text)]="content" [mode]="'html'" [theme]="'twilight'" [readOnly]="false" [autoUpdateContent]="true" (textChanged)="onChange($event)" class="code_box" id="html">
            </div>
          </section>
        </div>
      </div>
      <!-- Buttons to download and add CSS code -->
      <div class="tab-pane fade" id="pills-css" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div id="wrap">
          <section id="code_editors">
            <nav class="navbar navbar-light bg-dark">
              <form class="form-inline">
                <button class="btn btn-outline-warning" type="button" id="dropdownMenuButon1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title={{config.webEditor.ADD}}><i class="fa fa-code" aria-hidden="true"></i> </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <a class="dropdown-item" *ngFor="let data of css" (click)="showCss(data.code)">{{data.title}}</a>
                </div>
                &nbsp;
                <button href="javascript:void(0);" class="btn btn-outline-warning align-middle btn-outlin-secondary" type="button" href="javascript:void(0);" (click)="downloadCssFile()" data-toggle="tooltip" data-placement="top" title="Download"><i class="fa fa-download" aria-hidden="true"></i></button>
                &nbsp;
                <button type="button" class="btn btn-outline-warning" href="javascript:void(0);" (click)="downloadZip()" data-toggle="tooltip" data-placement="top" title="Zip Project"><i class="fa fa-file-archive-o" aria-hidden="true"></i></button>
                <div id="myCssDiv"></div>
              </form>
            </nav>
            <div ace-editor [(text)]="cssValue" [mode]="'css'" [theme]="'twilight'" [readOnly]="false" [autoUpdateContent]="true" (textChanged)="onChange($event)" class="code_box" id="css">
            </div>
          </section>
        </div>
      </div>
      <!-- Buttons to download and add JS code -->
      <div class="tab-pane fade" id="pills-javascript" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div id="wrap">
          <section id="code_editors">
            <nav class="navbar navbar-light bg-dark">
              <form class="form-inline">
                <button href="javascript:void(0);" class="btn btn-outline-warning align-middle btn-outlin-secondary" type="button" href="javascript:void(0);" (click)="downloadJsFile()" data-toggle="tooltip" data-placement="top" title="Download"><i class="fa fa-download" aria-hidden="true"></i></button>
                &nbsp;
                <button type="button" class="btn btn-outline-warning " href="javascript:void(0);" (click)="downloadZip()" data-toggle="tooltip" data-placement="top" title="Zip Project"><i class="fa fa-file-archive-o" aria-hidden="true"></i></button>
                <div id="myJsDiv"></div>
              </form>
            </nav>
            <div ace-editor [(text)]="jsValue" [mode]="'javascript'" [theme]="'twilight'" [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="2000" (textChanged)="onChange($event)" class="code_box" id="javascript">
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!--  Output -->
  <div class="col-md-5 nopadding output">
    <section id="output">
      <h3>{{config.webEditor.OUTPUT}}</h3>
      <iframe></iframe>
    </section>
  </div>
</div>
