<!-- main component starts -->
<div class="container-fluid backgroundcolor">
  <div class="row">
    <div class="col-md-12">
      <!-- navbar selector -->
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row mt-5 py-3 ">
    <div class="col-md-12">
      <div class="row ">
        <div class="col-md-2">
          <!-- first column -->
          <div class="row mt-3 ">
            <div class="col-md-12 ">
              <!-- card to make block for repo sidebar -->
              <div class="card">
                <h5 class="card-header "><b>{{config.TITLE}}</b></h5>
                <div class="card-block">
                  <div class="list-group">
                    <select name="carlist" form="carform" [(ngModel)]="selectedValue" (change)="changeMode()">
                      <option value="html">{{config.OPTION1}}</option>
                      <option value="javascript">{{config.OPTION2}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!-- card end -->
            <!-- generate token button -->
            <button type="button" class="btn btn-outline-info btn-sm tokenButtonMargin"><b class='generateTokenButton' (click)="openModal(template)">{{config.TOKENBUTTON}}</b></button>
            <template #template>
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <h6>{{config.GITHUBPASSWORD}}</h6>
              <input type="password" name="" #token (keyup)="onKey($event)">
              <h6>{{config.ACCESSTOKEN}}</h6>
              <input type="text" name="" #tokenName (keyup)="onKey($event)">
              <input type="button" class="btn btn-sm btn-success submit" name="" value="create" (click)="createAccessToken(token.value,tokenName.value)">
            </template>
          </div>
          <!-- repository side bar selector -->
          <app-repo-sidebar  [mode]="mode" (content)=getcontent($event) (fileName)=getfilename($event) (repoName)=getreponame($event)></app-repo-sidebar>
        </div>
        <div *ngIf="mode=='javascript'" class="col-md-10">
          <app-editor [content]="content" [reponame]="reponame" [filenamed]="filenamed"></app-editor>
        </div>
        <div *ngIf="mode=='html'" class="col-md-10">
          <app-webeditor [content]="content" [reponame]="reponame" [filenamed]="filenamed"></app-webeditor>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- footer selector -->
      <app-footer></app-footer>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- chat component selector -->
      <app-chat-home></app-chat-home>
    </div>
  </div>
  </div>
  
<!-- main component ends -->

