<!-- main component starts -->
<div class="container-fluid backgroundcolor">
  <div class="row rowHeight">
    <div class="col-md-12">
      <!-- navbar selector -->
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row mt-5 py-3">
    <div class="col-md-12">
      <div class="row ">
        <div class="col-md-2 bg">
          <div id="accordion" role="tablist">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{config.TITLE}}
        </a>
      </h5>
              </div>
              <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <select class="btn btn-outline-warning listOption" name="carlist" form="carform" [(ngModel)]="selectedValue" (change)="changeMode()">
                    <option value="html">{{config.OPTION1}}</option>
                    <option value="javascript">{{config.OPTION2}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- card end -->
            <!-- generate token button -->
            <button type="button" class="btn btn-outline-info btn-sm tokenButtonMargin" data-toggle="modal" data-target="#tokenModal"><b class='generateTokenButton'>{{config.TOKENBUTTON}}</b></button>
            <!--  -->
            <div class="modal fade" id="tokenModal" tabindex="-1" role="dialog" aria-labelledby="tokenModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header modalColor">
                    <h6 class="modal-title" id="tokenModalLabel">Generate Token</h6>
                    <button type="button" class="close" data-dismiss="modal" #token aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form #companyForm="ngForm" (ngSubmit)="generateToken(companyForm.form);">
                      <label for="recipient-name" class="form-control-label">Enter Github Password</label>
                      <input type="password" class="form-control" name="pass" ngModel #nameField="ngModel" required minlength="3">
                      <div *ngIf="nameField.touched && nameField.errors">
                        <div class="alert alert-danger" *ngIf="nameField.errors.required">
                          The password is required
                        </div>
                        <div class="alert alert-danger" *ngIf="nameField.errors.minlength">
                          The password should be at least 3 characters long
                        </div>
                      </div>
                      <h6></h6>
                      <label for="recipient-name" class="form-control-label">Enter Personal Access Token Name</label>
                      <input type="text" class="form-control" name="tokenName" ngModel #nameField="ngModel" required minlength="3">
                      <div *ngIf="nameField.touched && nameField.errors">
                        <div class="alert alert-danger" *ngIf="nameField.errors.required">
                          The token name is required
                        </div>
                        <div class="alert alert-danger" *ngIf="nameField.errors.minlength">
                          The token name should be at least 5 characters long
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary" [disabled]="!companyForm.valid">Ok</button>
                      </div>
                    </form>
                  </div>

            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Select Your Repository
        </a>
      </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                     <app-repo-sidebar [mode]="mode" (editorMode)=getMode($event) (content)=getcontent($event) (fileName)=getfilename($event) (repoName)=getreponame($event)></app-repo-sidebar>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h5>
              </div>
              <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
                    <!-- first column -->
          <div class="row mt-3">
            <div class="col-md-12 ">
              <select class="btn btn-outline-warning listOption" name="carlist" form="carform" [(ngModel)]="selectedValue" (change)="changeMode()">
                <option value="" class="modeOption">{{config.TITLE}}</option>
                <option value="html">{{config.OPTION1}}</option>
                <option value="javascript">{{config.OPTION2}}</option>
              </select>

            <!-- card end -->
            <!-- generate token button -->
    
            </div>
          </div>
          <!-- repository side bar selector -->

      

        </div>
        <div *ngIf="mode=='javascript'" class="col-md-10">
          <app-editor [content]="content" [reponame]="reponame" [filenamed]="filenamed"></app-editor>
        </div>
        <div *ngIf="mode=='html'" class="col-md-10">
          <app-webeditor [content]="content" [reponame]="reponame" [filenamed]="filenamed"></app-webeditor>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- footer selector -->
      <app-footer></app-footer>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 backgroundcolor">
      <!-- chat component selector -->
      <app-chat-home></app-chat-home>
    </div>
  </div>
</div>
<!-- main component ends -->
