<footer class="page-footer mdb-color center-on-small-only">
  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">
      <!--First column-->
      <div class="col-md-3 offset-md-1">
        <h5 class="title">{{config.footer.title}}</h5>
        <p class="aboutUs">{{config.footer.about}}</p>
      </div>
      <!--/.First column-->
      <hr class="hidden-md-up">
      <!--Second column for navigation-->
      <div class="col-md-2 offset-md-1">
        <h5 class="title">{{config.footer.navigation}}</h5>
        <ul class="navigation">
          <li><a href="#">{{config.footer.home}}</a></li>
          <li><a href="#">{{config.footer.services}}</a></li>
          <li><a href="#">{{config.footer.link}}</a></li>
          <li><a href="#">{{config.footer.contact}}</a></li>
        </ul>
      </div>
      <!--/.Second column-->
      <hr class="hidden-md-up">
      <!--Third column for Features-->
      <div class="col-md-2">
        <h5 class="title">{{config.footer.features}}</h5>
        <ul class="features">
          <li><a href="#">{{config.footer.editor}}</a></li>
          <li><a href="#">{{config.footer.terminal}}</a></li>
          <li><a href="#">{{config.footer.forums}}</a></li>
          <li><a href="#">{{config.footer.connections}}</a></li>
        </ul>
      </div>
      <!--/.Third column-->
      <hr class="hidden-md-up">
      <!--Fourth column for developers-->
      <div class="col-md-2">
        <h5 class="title">{{config.footer.developers}}</h5>
        <ul class="developers">
          <li><a href="#">{{config.footer.environment}}</a></li>
          <li><a href="#">{{config.footer.faq}}</a></li>
          <li><a href="#">{{config.footer.signup}}</a></li>
          <li><a href="#">{{config.footer.schools}}</a></li>
        </ul>
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
  <!--/.Footer Links-->
  <hr>
  <!--/.Call to action-->
  <hr>
  <!--Social buttons-->
  <div align="center" class="socialbtns">
    <ul class="noStyle">
      <li><a href="#" class="fa fa-lg fa-facebook"></a></li>
      <li><a href="#" class="fa fa-lg fa-twitter"></a></li>
      <li><a href="#" class="fa fa-lg fa-google-plus"></a></li>
      <li><a href="#" class="fa fa-lg fa-github"></a></li>
      <li><a href="#" class="fa fa-lg fa-pinterest"></a></li>
      <li><a href="#" class="fa fa-lg fa-linkedin"></a></li>
      <li><a href="#" class="fa fa-lg fa-instagram"></a></li>
      <li><a href="#" class="fa fa-lg fa-youtube"></a></li>
    </ul>
  </div>
  <!--/.Social buttons-->
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      {{config.footer.copyright}} <a href="https://www.MDBootstrap.com"> {{config.footer.website}}</a>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
