<footer class="page-footer mdb-color center-on-small-only">
  <!--Footer Links-->
  <div class="container">
    <div class="row">
      <!--First column-->
      <div class="col-md-3 offset-md-1">
        <h5 class="title"> About Us</h5>
        <p class="aboutUs">We're immensely proud of the unique products that our developers have created to help coders practice coding and easily pushing on git on a single click.</p>
      </div>
      <!--/.First column-->
      <hr class="hidden-md-up">
      <!--Second column-->
      <div class="col-md-2 offset-md-1">
        <h5 class="title">Navigation</h5>
        <ul class="navigation">
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <!--/.Second column-->
      <hr class="hidden-md-up">
      <!--Third column-->
      <div class="col-md-2">
        <h5 class="title">Features</h5>
        <ul class="features">
          <li><a href="#">Code Editor</a></li>
          <li><a href="#">Terminal</a></li>
          <li><a href="#">Forums</a></li>
          <li><a href="#">Connections</a></li>
        </ul>
      </div>
      <!--/.Third column-->
      <hr class="hidden-md-up">
      <!--Fourth column-->
      <div class="col-md-2">
        <h5 class="title">Developers</h5>
        <ul class="developers">
          <li><a href="#">Environment</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">SignUp</a></li>
          <li><a href="#">For Schools</a></li>
        </ul>
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
  <!--/.Footer Links-->
  <hr>
  <!--/.Call to action-->
  <hr>
  <div align="center" class="socialbtns">
    <ul class="noStyle">
      <li><a href="#" class="fa fa-lg fa-facebook"></a></li>
      <li><a href="#" class="fa fa-lg fa-twitter"></a></li>
      <li><a href="#" class="fa fa-lg fa-google-plus"></a></li>
      <li><a href="#" class="fa fa-lg fa-github"></a></li>
      <li><a href="#" class="fa fa-lg fa-pinterest"></a></li>
      <li><a href="#" class="fa fa-lg fa-linkedin"></a></li>
      <li><a href="#" class="fa fa-lg fa-instagram"></a></li>
      <li><a href="#" class="fa fa-lg fa-youtube"></a></li>
    </ul>
  </div>
  <!--/.Social buttons-->
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright: <a href="https://www.MDBootstrap.com"> codeEditor.com</a>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
