<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- navbar selector -->
      <app-navbar></app-navbar>
    </div>
  </div>
  <h1>Forums</h1>
  <h1>Forums</h1>
  <h1>Forums</h1>
  <h1>Forums</h1>
  <h1>Forums</h1>
  <h1>Forums</h1>
  <h1>Forums</h1>
  <a routerLink="/forums/view"> View Forums</a>
  <a routerLink="/forums/add"> Add Forums</a>
<p>
  forums works!
</p>
 <div class="row">
    <div class="col-md-12">
      <!-- footer selector -->
      <app-footer></app-footer>
    </div>
  </div>
  </div>